.navbar {
    .fa {
        font-size: 14px;
    }
    .navbar-nav {
        padding-left: 30px;
        font-family: 'Oswald', sans-serif;
        font-size: 12px;
    }
    .navbar-brand {
        font-family: 'Oswald', sans-serif;
        font-size: 12px;
    }
}