.navbar {
    margin-bottom: 0px;
    .fa {
        font-size: 14px;
    }
    .navbar-nav {
        padding-left: 30px;
        font-family: 'Oswald', sans-serif;
        font-size: 12px;
    }
    .navbar-brand {
        font-family: 'Oswald', sans-serif;
        font-size: 12px;
    }
}

.showcase {
    background: url(../images/main2.jpg) no-repeat;
    background-position: center top;
    background-size: cover;
    height: 1600px;
}